/* ----------------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------------- */
.footer {
    background-color: #fff;
    padding: 20px 0 20px;
    color: #fff;
    text-align: center;
}

.footer .footer__logo {
    margin-bottom: 20px;
}

.footer .footer__rights {
    color: #828282;
}
